---
import BaseLayout from "../layouts/BaseLayout.astro";
import OurServices from "@/components/OurServices.astro";
import OurPartners from "@/components/OurPartners.astro";
---

<BaseLayout
  title="Hakkımızda - Sore Yapı "
  description="Sore Yapı'nın Hakkımızda sayfasını inceleyin. Şirketimizin misyonu, vizyonu ve değerleri hakkında bilgi edinin."
>
  <!-- CONTENT START -->
  <div class="page-content">
    <!-- INNER PAGE BANNER -->
    <div
      class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"
      data-stellar-background-ratio="0.5"
      style="background-image:url(/images/banner/3.jpg);"
    >
      <div class="overlay-main bg-black opacity-07"></div>
      <div class="container">
        <div class="wt-bnr-inr-entry">
          <div class="banner-title-outer">
            <div class="banner-title-name">
              <h2
                class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300 m-0"
              >
                Bizi Keşfedin <br /> Sore Yapı Hakkında
              </h2>
            </div>
          </div>

          <!-- BREADCRUMB ROW -->
          <div class="p-tb20">
            <div>
              <ul class="wt-breadcrumb breadcrumb-style-2">
                <li><a href="/">Anasayfa</a></li>
                <li>Hakkımızda</li>
              </ul>
            </div>
          </div>
          <!-- BREADCRUMB ROW END -->
        </div>
      </div>
    </div>
    <!-- INNER PAGE BANNER END -->

    <!-- ABOUT COMPANY SECTION START -->
    <div class="section-full p-t80 p-b50 bg-gray square_shape2">
      <div class="container">
        <div class="section-content">
          <div class="row d-flex align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 m-b50">
              <div class="m-about m-l50 m-r50">
                <div
                  class="owl-carousel about-us-carousel owl-btn-bottom-right"
                >
                  <!-- COLUMNS 1 -->
                  <div class="item">
                    <div class="ow-img wt-img-effect zoom-slow">
                      <a href="javascript:void(0);">
                        <img src="/images/gallery/portrait/1.jpg" alt="" />
                      </a>
                    </div>
                  </div>

                  <!-- COLUMNS 2 -->
                  <div class="item">
                    <div class="ow-img wt-img-effect zoom-slow">
                      <a href="javascript:void(0);">
                        <img src="/images/gallery/portrait/2.jpg" alt="" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 m-b30">
              <div class="m-about-containt text-black p-t30">
                <span class="font-30 text-uppercase font-weight-300"
                  >Hikayemiz</span
                >
                <h2 class="font-40 text-uppercase">
                  Her Detayında Kalite, <br /> Her Zaman Güven
                </h2>

                <p class="text-uppercase">
                  <b
                    >Sore Yapı, inşaat ve gayrimenkul sektöründe güven, kalite
                    ve şeffaflık ilkeleriyle faaliyet göstermektedir.</b
                  >
                </p>

                <p>
                  Amacımız; yatırımcılar ve bireysel konut alıcıları için değer
                  katan, estetik ve fonksiyonel yaşam alanları üretmek ve uzun
                  ömürlü projeler hayata geçirmektir. <br />

                  Kurulduğumuz günden bu yana, vizyoner ve sürdürülebilir bir
                  anlayışla her projede yüksek standartları esas alıyoruz.
                  Güvenilir ve şeffaf süreç yönetimi ile müşteri memnuniyetini
                  en üst seviyede tutmayı temel prensibimiz olarak benimsiyoruz.<br
                  />

                  Sore Yapı olarak yalnızca bugünün ihtiyaçlarına değil, yarının
                  beklentilerine de yanıt veren projeler geliştiriyoruz.
                  Yatırımcılar için kazanç sağlayan ve değerini koruyan projeler
                  üretirken, bölgeye ve sektöre kalıcı değer katmayı
                  hedefliyoruz. <br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ABOUT COMPANY SECTION END -->

    <OurServices />
    <OurPartners />

    <!-- OUR EXPERTS SECTION START -->
    <div class="section-full bg-white square_shape2">
      <!-- <div class="container-fluid">
                <div class="section-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 bg-repeat" 
                             style="background-image:url(images/background/ptn-1.png);">
                            <div class="wt-left-part2 m-experts p-tb90">
                                <div class="section-head text-left text-black">
                                    <h2 class="text-uppercase font-36">Our experts</h2>
                                    <div class="wt-separator-outer">
                                        <div class="wt-separator bg-black"></div>
                                    </div>
                                </div>
                                
                                <div class="wt-team-six large-pic">
                                    <div class="wt-team-media wt-thum-bx">
                                        <img src="images/our-team5/pic1.jpg" alt="">
                                    </div>
                                    <div class="wt-team-info text-center p-lr10 p-tb20 bg-white">
                                        <h2 class="wt-team-title text-uppercase text-black font-32 font-weight-500">
                                            Robert willson
                                        </h2>
                                        <p class="font-22">Co-manager associated</p>
                                        
                                        <ul class="social-icons social-md social-square social-dark">
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-12">
                            <div class="wt-right-part2 team-outer">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                        <div class="wt-team-six bg-white">
                                            <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                                <img src="images/our-team5/pic2.jpg" alt="">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon">
                                                        <ul class="social-icons social-square social-dark">
                                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                                <h5 class="wt-team-title text-uppercase m-a0">David Gray</h5>
                                                <p class="m-b0">Co-manager associated</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                        <div class="wt-team-six bg-white">
                                            <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                                <img src="images/our-team5/pic3.jpg" alt="">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon">
                                                        <ul class="social-icons social-square social-dark">
                                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                                <h5 class="wt-team-title text-uppercase m-a0">Taylor Roberts</h5>
                                                <p class="m-b0">Co-manager associated</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                        <div class="wt-team-six bg-white">
                                            <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                                <img src="images/our-team5/pic4.jpg" alt="">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon">
                                                        <ul class="social-icons social-square social-dark">
                                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                                <h5 class="wt-team-title text-uppercase m-a0">Robert willson</h5>
                                                <p class="m-b0">Co-manager associated</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                        <div class="wt-team-six bg-white">
                                            <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                                <img src="images/our-team5/pic5.jpg" alt="">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon">
                                                        <ul class="social-icons social-square social-dark">
                                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                                <h5 class="wt-team-title text-uppercase m-a0">Austin Evon</h5>
                                                <p class="m-b0">Co-manager associated</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <!-- OUR EXPERTS SECTION END -->
  </div>
  <!-- CONTENT END -->
</BaseLayout>
