---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="İnsan Kaynakları - Sore Yapı "
  description="Sore Yapı'nın İnsan Kaynakları sayfasını inceleyin. Dinamik ekibimize katılmak için başvurunuzu gönderin ve kariyer fırsatlarını keşfedin."
>
  <!-- CONTENT START -->
  <div class="page-content">
    <!-- INNER PAGE BANNER -->
    <div
      class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"
      data-stellar-background-ratio="0.5"
      style="background-image:url(/images/banner/3.jpg);"
    >
      <div class="overlay-main bg-black opacity-07"></div>
      <div class="container">
        <div class="wt-bnr-inr-entry">
          <div class="banner-title-outer">
            <div class="banner-title-name">
              <h2
                class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300 m-0"
              >
                İnsan Kaynakları <br /> Sore Yapı
              </h2>
            </div>
          </div>

          <!-- BREADCRUMB ROW -->
          <div class="p-tb20">
            <div>
              <ul class="wt-breadcrumb breadcrumb-style-2">
                <li><a href="/">Anasayfa</a></li>
                <li>İnsan Kaynakları</li>
              </ul>
            </div>
          </div>
          <!-- BREADCRUMB ROW END -->
        </div>
      </div>
    </div>
    <!-- INNER PAGE BANNER END -->
    <div class="section-full p-t80 p-b50">
      <div class="container">
        <div class="project-detail-outer bg-parallax bg-center m-b30">
          <div class="row">
            <div
              class="col-lg-12 col-md-12 project-detail-containt square_shape3"
            >
              <div class="p-lr20 p-tb80 project-detail-containt-info bg-black">
                <div class="bg-white p-lr30 p-tb50 text-black text-center">
                  <h2 class="m-t0">
                    <span class="font-34 text-uppercase"
                      >Yeni Takım Arkadaşları Arıyoruz!</span
                    >
                  </h2>
                  <p>
                    Sore Yapı olarak, dinamik ve yenilikçi ekibimize katılacak
                    yeni yetenekler arıyoruz. Eğer inşaat sektöründe kariyer
                    yapmak istiyorsanız, başvurularınızı bekliyoruz.
                  </p>
                  <div class="product-block">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 m-b30">
                        <h5 class="text-uppercase">CV ve başvuru için:</h5>
                        <a href="mailto:info@soreyapi.com">info@soreyapi.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CONTENT END -->
</BaseLayout>
