---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Kuşadası Egel Park Sitesi - Sore Yapı "
  description="Kuşadası Ege Mahallesi’nde konumlanan Egel Park, yüksek tavanlı yaşam alanları, güçlü teknik altyapısı ve seçkin sosyal imkânlarıyla öne çıkar. 3+1, 2+1 ve 4+1 dubleks seçenekleri, kaliteli iç mimari ve güvenlikli site yaşamı ile dört mevsim konfor sunar."
>
  <!-- CONTENT START -->
  <div class="page-content">
    <!-- INNER PAGE BANNER -->
    <div
      class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"
      data-stellar-background-ratio="0.5"
      style="background-image:url(/images/banner/egelpark-banner.jpg)"
    >
      <div class="overlay-main bg-black opacity-07"></div>
      <div class="container">
        <div class="wt-bnr-inr-entry">
          <div class="banner-title-outer">
            <div class="banner-title-name">
              <h2
                class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300 m-0"
              >
                Egel Park Sitesi <br />Ege Mahallesi'nde Modern Yaşam
              </h2>
            </div>
          </div>
          <!-- BREADCRUMB ROW -->
          <div class="p-tb20">
            <div>
              <ul class="wt-breadcrumb breadcrumb-style-2">
                <li>
                  <a href="javascript:void(0);">Anasayfa</a>
                </li>
                <li>Egel Park Sitesi</li>
              </ul>
            </div>
          </div>
          <!-- BREADCRUMB ROW END -->
        </div>
      </div>
    </div>
    <!-- INNER PAGE BANNER END -->
    <!-- PROJECT DETAIL SECTION START -->
    <div class="section-full p-t80 p-b50">
      <div class="container">
        <div class="project-detail-outer bg-center m-b30">
          <div class="row">
            <div
              class="col-lg-12 col-md-12 project-detail-containt square_shape3 text-center"
            >
              <div class="p-lr20 p-tb20 project-detail-containt-info bg-black">
                <div class="bg-white p-lr30 p-tb30 text-black">
                  <h2 class="m-t0">
                    <span class="font-34 text-uppercase"
                      >EGEL PARK - KUŞADASI</span
                    >
                  </h2>
                  <p>
                    <strong
                      >Kuşadası Ege Mahallesi’nde yüksek tavanlı, modern ve
                      güvenli yaşam.</strong
                    >
                  </p>
                  <p>
                    Egel Park, yüksek tavanlı yaşam alanları, güçlü teknik
                    altyapısı ve seçkin sosyal imkânlarıyla öne çıkar. 3+1, 2+1
                    ve 4+1 dubleks seçenekleriyle, Anka seramikten Belenco
                    tezgâha, Variodor iç kapılardan AGT laminant parkeye kadar
                    kaliteli malzeme standardı sunar. Yerden ısıtma ve doğalgaz
                    altyapısı ile dört mevsim konfor sağlar. Dış cephede
                    Fıratpen ısıcam doğrama, güvenli giriş sistemi ve peyzajlı
                    ortak alanlar site yaşamını tamamlar.
                  </p>
                  <div class="product-block">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 m-b20">
                        <h5 class="text-uppercase">Başlangç Tarihi:</h5>
                        <p><b>2020</b></p>
                      </div>
                      <div class="col-md-6 col-sm-6 m-b20">
                        <h5 class="text-uppercase">Teslim Tarihi:</h5>
                        <p><b>Hemen Teslim</b></p>
                      </div>
                      <div class="col-md-6 col-sm-6 m-b20">
                        <h5 class="text-uppercase">Durum:</h5>
                        <p>
                          <b>Tamamlandı</b>
                        </p>
                      </div>
                      <div class="col-md-6 col-sm-6 m-b20">
                        <h5 class="text-uppercase">Faaliyet:</h5>
                        <p><b>2024</b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PROJECT DETAIL SECTION END -->
    <!-- GENERAL PHOTOS SECTION START -->
    <div class="section-full p-b50 square_shape1 square_shape3">
      <div class="container">
        <div class="col-xl-5 col-lg-12 col-md-12">
          <h2 class="text-uppercase font-36">Fotoğraflar</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator bg-black"></div>
          </div>
        </div>
        <div class="blog-post date-style-1 blog-detail text-black">
          <div class="wt-post-media clearfix m-b30">
            <ul class="grid-post mfp-gallery gallery">
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/1.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/1.jpg"
                      alt="Egel Park Sitesi - Görsel 1"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/2.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/2.jpg"
                      alt="Egel Park Sitesi - Görsel 2"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/3.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/3.jpg"
                      alt="Egel Park Sitesi - Görsel 3"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/4.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/4.jpg"
                      alt="Egel Park Sitesi - Görsel 4"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/5.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/5.jpg"
                      alt="Egel Park Sitesi - Görsel 5"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/6.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/6.jpg"
                      alt="Egel Park Sitesi - Görsel 6"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/7.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/7.jpg"
                      alt="Egel Park Sitesi - Görsel 7"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/8.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/8.jpg"
                      alt="Egel Park Sitesi - Görsel 8"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/9.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/9.jpg"
                      alt="Egel Park Sitesi - Görsel 9"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/10.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/10.jpg"
                      alt="Egel Park Sitesi - Görsel 10"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/genel/11.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/genel/11.jpg"
                      alt="Egel Park Sitesi - Görsel 11"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="wt-post-text">
            <blockquote>
              <h3>Neden Egel Park?</h3>
              <div class="col-lg-12 col-md-12">
                Kuşadası Ege Mahallesi’nde, şehir merkezine yakın, yüksek
                tavanlı ve ferah yaşam alanları, güçlü teknik altyapı ve seçkin
                sosyal imkânlar ile Egel Park öne çıkar:
                <ul>
                  <li>3+1, 2+1 ve 4+1 dubleks seçenekleri</li>
                  <li>
                    Anka 60×120 seramik, AGT 10 mm parke, Variodor iç kapı,
                    Belenco tezgâh
                  </li>
                  <li>Yerden ısıtma ve doğalgaz altyapısı</li>
                  <li>Fıratpen ısıcam doğrama, su ve ısı yalıtımı</li>
                  <li>Açık yüzme havuzu, fitness, sauna, çocuk oyun parkı</li>
                  <li>Kapalı otopark, asansör, merkezi uydu sistemi</li>
                  <li>
                    24 saat güvenlik, kontrollü giriş-çıkış, kamera ve
                    kapıcı/daire görüşme altyapısı
                  </li>
                  <li>Peyzajlı ortak alanlar, otomatik sulama</li>
                  <li>Su deposu, hidrofor, makine odası</li>
                </ul>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- GENERAL PHOTOS SECTION END -->
    <!-- FEATURES SECTION START -->
    <div class="section-full p-b50">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="m-b0">
              <div class="section-content">
                <div class="pricingtable-row m-b30">
                  <div class="row d-flex justify-content-center">
                    <!-- GÜVENLİK ÖZELLİKLERİ -->
                    <div class="col-lg-4 col-md-6 m-b40">
                      <div class="pricingtable-wrapper pricing-table-style-4">
                        <div class="pricingtable-inner bg-gray">
                          <div
                            class="overlay-wraper pricingtable-inner-overlay bg-no-repeat bg-cover"
                          >
                            <div class="pricingtable-title">
                              <h3>Güvenlik <br />Özellikleri</h3>
                            </div>
                            <div class="pricingtable-price"></div>
                            <div class="overlay-main bg-black opacity-07"></div>
                          </div>
                          <ul class="pricingtable-features">
                            <li>
                              <i class="fa fa-check"></i>Kontrollü giriş-çıkış
                            </li>
                            <li>
                              <i class="fa fa-check"></i>24 saat kamera sistemi
                            </li>
                            <li>
                              <i class="fa fa-check"></i>Güvenlik/kapıcı daire
                              görüşme altyapısı
                            </li>
                            <li><i class="fa fa-check"></i>Kapalı otopark</li>
                            <li>
                              <i class="fa fa-check"></i>Site içi güvenlik
                            </li>
                          </ul>
                          <div class="pricingtable-footer"></div>
                        </div>
                      </div>
                    </div>
                    <!-- SOSYAL YAŞAM -->
                    <div class="col-lg-4 col-md-6 m-b40">
                      <div class="pricingtable-wrapper pricing-table-style-4">
                        <div
                          class="pricingtable-inner pricingtable-highlight bg-gray"
                        >
                          <div
                            class="overlay-wraper pricingtable-inner-overlay bg-no-repeat bg-cover"
                          >
                            <div class="pricingtable-title">
                              <h3>Sosyal <br />Olanaklar</h3>
                            </div>
                            <div class="pricingtable-price"></div>
                            <div class="overlay-main bg-black opacity-07"></div>
                          </div>
                          <ul class="pricingtable-features">
                            <li>
                              <i class="fa fa-check"></i>Açık yüzme havuzu
                            </li>
                            <li><i class="fa fa-check"></i>Fitness salonu</li>
                            <li><i class="fa fa-check"></i>Sauna</li>
                            <li><i class="fa fa-check"></i>Çocuk oyun parkı</li>
                            <li>
                              <i class="fa fa-check"></i>Peyzajlı ortak alanlar,
                              otomatik sulama
                            </li>
                          </ul>
                          <div class="pricingtable-footer"></div>
                        </div>
                      </div>
                    </div>
                    <!-- TEKNİK & MALZEME -->
                    <div class="col-lg-4 col-md-6 m-b40">
                      <div class="pricingtable-wrapper pricing-table-style-4">
                        <div class="pricingtable-inner bg-gray">
                          <div
                            class="overlay-wraper pricingtable-inner-overlay bg-no-repeat bg-cover"
                          >
                            <div class="pricingtable-title">
                              <h3>Teknik & <br />Malzeme</h3>
                            </div>
                            <div class="pricingtable-price"></div>
                            <div class="overlay-main bg-black opacity-07"></div>
                          </div>
                          <ul class="pricingtable-features">
                            <li>
                              <i class="fa fa-check"></i>Anka 60×120 seramik
                            </li>
                            <li>
                              <i class="fa fa-check"></i>AGT 10 mm parke (3+1
                              salon-odalar)
                            </li>
                            <li>
                              <i class="fa fa-check"></i>Belenco tezgâh (veya
                              muadili)
                            </li>
                            <li><i class="fa fa-check"></i>Variodor iç kapı</li>
                            <li>
                              <i class="fa fa-check"></i>Fıratpen ısıcam doğrama
                            </li>
                            <li>
                              <i class="fa fa-check"></i>Yerden ısıtma &
                              doğalgaz altyapısı
                            </li>
                            <li>
                              <i class="fa fa-check"></i>Kat asansörü, merkezi
                              uydu, su deposu & hidrofor
                            </li>
                          </ul>
                          <div class="pricingtable-footer"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FEATURES SECTION END -->
    <!-- SAMPLE APARTMENT SECTION START -->
    <div class="section-full p-b50 square_shape1 square_shape3">
      <div class="container">
        <div class="col-xl-5 col-lg-12 col-md-12">
          <h2 class="text-uppercase font-36">Örnek Daire</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator bg-black"></div>
          </div>
        </div>
        <!-- BLOG START -->
        <div class="blog-post date-style-1 blog-detail text-black">
          <div class="wt-post-media clearfix m-b30">
            <ul class="grid-post mfp-gallery gallery">
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/1.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/1.jpg"
                      alt="Egel Park Sitesi - Görsel 1"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/2.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/2.jpg"
                      alt="Egel Park Sitesi - Görsel 2"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/3.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/3.jpg"
                      alt="Egel Park Sitesi - Görsel 3"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/4.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/4.jpg"
                      alt="Egel Park Sitesi - Görsel 4"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/5.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/5.jpg"
                      alt="Egel Park Sitesi - Görsel 5"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/6.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/6.jpg"
                      alt="Egel Park Sitesi - Görsel 6"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/7.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/7.jpg"
                      alt="Egel Park Sitesi - Görsel 7"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/8.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/8.jpg"
                      alt="Egel Park Sitesi - Görsel 8"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/9.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/9.jpg"
                      alt="Egel Park Sitesi - Görsel 9"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/10.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/10.jpg"
                      alt="Egel Park Sitesi - Görsel 10"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/11.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/11.jpg"
                      alt="Egel Park Sitesi - Görsel 11"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/12.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/12.jpg"
                      alt="Egel Park Sitesi - Görsel 12"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/13.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/13.jpg"
                      alt="Egel Park Sitesi - Görsel 13"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/14.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/14.jpg"
                      alt="Egel Park Sitesi - Görsel 14"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/15.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/15.jpg"
                      alt="Egel Park Sitesi - Görsel 15"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/16.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/16.jpg"
                      alt="Egel Park Sitesi - Görsel 16"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/17.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/17.jpg"
                      alt="Egel Park Sitesi - Görsel 17"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/18.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/18.jpg"
                      alt="Egel Park Sitesi - Görsel 18"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/19.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/19.jpg"
                      alt="Egel Park Sitesi - Görsel 19"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/20.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/20.jpg"
                      alt="Egel Park Sitesi - Görsel 20"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/21.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/21.jpg"
                      alt="Egel Park Sitesi - Görsel 21"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/22.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/22.jpg"
                      alt="Egel Park Sitesi - Görsel 22"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/23.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/23.jpg"
                      alt="Egel Park Sitesi - Görsel 23"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/24.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/24.jpg"
                      alt="Egel Park Sitesi - Görsel 24"
                    />
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/25.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/25.jpg"
                      alt="Egel Park Sitesi - Görsel 25"
                    />
                    <div class="overlay-bx"></div>
                    <div class="overlay-icon">
                      <i class="fa fa-search-plus wt-icon-box-xs"></i>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/26.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/26.jpg"
                      alt="Egel Park Sitesi - Görsel 26"
                    />
                    <div class="overlay-bx"></div>
                    <div class="overlay-icon">
                      <i class="fa fa-search-plus wt-icon-box-xs"></i>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/27.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/27.jpg"
                      alt="Egel Park Sitesi - Görsel 27"
                    />
                    <div class="overlay-bx"></div>
                    <div class="overlay-icon">
                      <i class="fa fa-search-plus wt-icon-box-xs"></i>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="portfolio-item wt-img-effect zoom-slow">
                  <a
                    href="/images/projects/egelpark/daire/28.jpg"
                    class="mfp-link"
                  >
                    <img
                      class="img-responsive"
                      src="/images/projects/egelpark/daire/28.jpg"
                      alt="Egel Park Sitesi - Görsel 28"
                    />
                    <div class="overlay-bx"></div>
                    <div class="overlay-icon">
                      <i class="fa fa-search-plus wt-icon-box-xs"></i>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SAMPLE APARTMENT SECTION END -->
  <!-- APARTMENT FEATURES SECTION START -->
  <div class="section-full p-b50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="m-b0">
            <!-- PRICING STYLE-3 COLUMNS 3 WITH GAP AND BACKGROUND -->
            <div class="section-content">
              <div class="pricingtable-row m-b30">
                <div class="row d-flex justify-content-center">
                  <!-- İÇ MİMARİ & YAŞAM KONFORU -->
                  <div class="col-lg-4 col-md-6 m-b40">
                    <div class="pricingtable-wrapper pricing-table-style-4">
                      <div class="pricingtable-inner bg-gray">
                        <div
                          class="overlay-wraper pricingtable-inner-overlay bg-no-repeat bg-cover"
                        >
                          <div class="pricingtable-title">
                            <h3>İç Mimari <br />Yaşam Konforu</h3>
                          </div>
                          <div class="pricingtable-price"></div>
                          <div class="overlay-main bg-black opacity-07"></div>
                        </div>
                        <ul class="pricingtable-features">
                          <li>
                            <i class="fa fa-check"></i>Modern mimari çizgilerle
                            tasarım
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Özel tasarım giyinme
                            odası
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Otomatik panjur ve
                            sineklik tüm dairelerde
                          </li>
                          <li>
                            <i class="fa fa-check"></i>LED ışık bandı ile şık ve
                            bütüncül aydınlatma
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Sessiz ve ısı yalıtımlı
                            PVC doğrama sistemleri
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Yüksek tavan algısı
                            oluşturan tavan kutu aydınlatma sistemi
                          </li>
                        </ul>
                        <div class="pricingtable-footer"></div>
                      </div>
                    </div>
                  </div>
                  <!-- TEKNİK & DONANIM AVANTAJLARI -->
                  <div class="col-lg-4 col-md-6 m-b40">
                    <div class="pricingtable-wrapper pricing-table-style-4">
                      <div
                        class="pricingtable-inner pricingtable-highlight bg-gray"
                      >
                        <div
                          class="overlay-wraper pricingtable-inner-overlay bg-no-repeat bg-cover"
                        >
                          <div class="pricingtable-title">
                            <h3>Teknik & Donanım <br />Avantajları</h3>
                          </div>
                          <div class="pricingtable-price"></div>
                          <div class="overlay-main bg-black opacity-07"></div>
                        </div>
                        <ul class="pricingtable-features">
                          <li>
                            <i class="fa fa-check"></i>Doğalgaz yerden ısıtma
                            sistemi
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Multi sistem klima
                            altyapısı
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Uydu TV, internet ve
                            elektrik altyapılarında yüksek standart
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Hilton banyo dolapları,
                            çanak lavabo, duşakabin ve gömme rezervuar
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Mutfakta bakalit evye,
                            Arçelik veya muadili davlumbaz, E.C.A batarya
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Su ve yangın alarm
                            sistemi daire içlerinde hazır kurulum
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Uzun yıllar sorunsuz
                            kullanım için kaliteli tesisat ve malzemeler
                          </li>
                        </ul>
                        <div class="pricingtable-footer"></div>
                      </div>
                    </div>
                  </div>
                  <!-- ZEMİN & DUVAR KALİTESİ -->
                  <div class="col-lg-4 col-md-6 m-b40">
                    <div class="pricingtable-wrapper pricing-table-style-4">
                      <div class="pricingtable-inner bg-gray">
                        <div
                          class="overlay-wraper pricingtable-inner-overlay bg-no-repeat bg-cover"
                        >
                          <div class="pricingtable-title">
                            <h3>Zemin & Duvar <br />Kalitesi</h3>
                          </div>
                          <div class="pricingtable-price"></div>
                          <div class="overlay-main bg-black opacity-07"></div>
                        </div>
                        <ul class="pricingtable-features">
                          <li>
                            <i class="fa fa-check"></i>1. sınıf Çanakkale
                            Seramik marka veya muadili yer-duvar kaplamaları
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Duvar ve tavanlarda alçı
                            sıva üzeri saten boya
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Kaymaz, dayanıklı ve
                            kolay temizlenebilir yüzeyler
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Estetik bütünlüğü koruyan
                            renk ve doku seçimleri
                          </li>
                          <li>
                            <i class="fa fa-check"></i>Profesyoneller tarafından
                            tasarlanmış iç mekanlar
                          </li>
                        </ul>
                        <div class="pricingtable-footer"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- APARTMENT FEATURES SECTION END -->
  <!-- CTA SECTION START -->
  <div class="section-full clearfix p-t80 p-b80 square_shape1 square_shape3">
    <div class="container">
      <div class="row d-flex justify-content-center bg-darks p-a40 radius-m">
        <div class="col-lg-8 col-md-10 text-center">
          <div class="cta-content">
            <h2 class="text-white text-uppercase m-b20">
              Egel Park Sitesin'de Yerinizi Ayırtın
            </h2>
            <p class="text-white font-14 m-b30 opacity-08">
              Bu Önemli Fırsatı Kaçırmayın! Sınırlı Sayıda Daire Kalmıştır.
            </p>
            <p class="text-white font-18 m-b30 bold text-uppercase">
              Detaylı bilgi ve örnek daire ziyareti için randevu alın.
            </p>
            <div class="cta-buttons">
              <button
                class="m-b15 site-button m-r15 text-uppercase letter-spacing-2"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#contact-form-modal">Bize Ulaşın</button
              >
              <a href="tel:+905551234567">
                <button
                  class="m-b15 site-button-secondry text-uppercase letter-spacing-2"
                  type="button">Hemen Arayın</button
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CTA SECTION END -->
  <!-- CONTACT FORM MODAL -->

  <!-- CONTACT FORM MODAL END -->
  <!-- FAQ SECTION START -->
  <div class="section-full p-t80 p-b50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="m-b0">
            <!-- TITLE START -->
            <div class="section-head">
              <h3>Sık Sorulan Sorular</h3>
              <div class="wt-separator-outer">
                <div class="wt-separator bg-black"></div>
              </div>
            </div>
            <!-- TITLE END -->
            <!-- ACCORDION START -->
            <div class="section-content p-b30">
              <div class="wt-accordion acc-bg-dark" id="accordion9">
                <div id="accordion9">
                  <!-- SORU 1 -->
                  <div class="panel wt-panel">
                    <div class="acod-head acc-actives">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ1">
                          <i class="fa fa-globe"></i> Hangi daire tipleri mevcut?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ1"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        3+1, 2+1 ve 4+1 dubleks seçenekleri yer almaktadır.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 2 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ2">
                          <i class="fa fa-globe"></i> İç mekânlarda hangi malzemeler
                          kullanıldı?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ2"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Anka 60×120 seramik, AGT 10 mm laminant parke (3+1
                        salon-odalar), Variodor iç kapı, Belenco tezgâh (veya
                        muadili), Mupo Myndos granit evye, çelik üzeri ahşap
                        merdiven (dubleks), modüler mutfak mobilyası
                        kullanılmıştır.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 3 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ3">
                          <i class="fa fa-globe"></i> Teknik altyapı ve yalıtım özellikleri
                          nelerdir?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ3"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Yerden ısıtma, doğalgaz altyapısı, Fıratpen ısıcam
                        doğrama, su ve ısı yalıtımı, yapı denetim kontrollü
                        betonarme karkas ve radye temel sistemi bulunmaktadır.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 4 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ4">
                          <i class="fa fa-globe"></i> Güvenlik sistemi ve site yönetimi
                          nasıl?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ4"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Kontrollü giriş-çıkış, 24 saat kamera ve güvenlik,
                        kapıcı/daire görüşme altyapısı ile güvenli bir site
                        yaşamı sunulmaktadır.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 5 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ5">
                          <i class="fa fa-globe"></i> Sosyal ve ortak alan olanakları
                          neler?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ5"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Açık yüzme havuzu, fitness salonu, sauna, çocuk oyun
                        parkı, peyzajlı ortak alanlar ve otomatik sulama sistemi
                        mevcuttur.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 6 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ6">
                          <i class="fa fa-globe"></i> Otopark ve ulaşım olanakları
                          nasıl?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ6"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Kapalı otopark, kat asansörü ve merkezi uydu sistemi ile
                        konforlu ulaşım ve iletişim imkânı sağlanmaktadır.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 7 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ7">
                          <i class="fa fa-globe"></i> Enerji verimliliği ve dış cephe
                          özellikleri nedir?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ7"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Fıratpen ısıcam doğrama ile enerji verimliliği ve dış
                        mekân dayanımı sağlanmaktadır. Su deposu, hidrofor ve
                        makine odası ile kesintisiz yaşam desteklenir.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 8 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ8">
                          <i class="fa fa-globe"></i> Daireler oturuma hazır mı?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ8"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Evet, proje tamamlanmış ve daireler oturuma hazırdır.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 9 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ9">
                          <i class="fa fa-globe"></i> Yapı denetim ve inşaat kalitesi
                          nasıl?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ9"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Betonarme karkas, radye temel, C30 beton, BÇIII nervürlü
                        donatı ve yapı denetim kontrolü ile yüksek inşaat
                        kalitesi sunulmaktadır.
                      </div>
                    </div>
                  </div>
                  <!-- SORU 10 -->
                  <div class="panel wt-panel">
                    <div class="acod-head">
                      <h6 class="acod-title text-uppercase">
                        <a data-bs-toggle="collapse" href="#collapseQ10">
                          <i class="fa fa-globe"></i> Merkezi konumun avantajları
                          nelerdir?
                          <span class="indicator">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </h6>
                    </div>
                    <div
                      id="collapseQ10"
                      class="acod-body collapse"
                      data-bs-parent="#accordion9"
                    >
                      <div class="acod-content p-tb15">
                        Ege Mahallesi’nde, şehir merkezine ve sosyal alanlara
                        yürüyüş mesafesindedir. Toplu taşımaya ve ana yollara
                        yakınlığı ile ulaşım avantajı sağlar.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CONTENT END -->
</BaseLayout>
