---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="N Plus Nazilli - Sore Yapı "
  description="Nazilli'de yer alan N Plus Nazilli projemizi keşfedin. Modern yaşam alanları, sosyal olanaklar ve prestijli konut seçenekleri hakkında bilgi edinin."
>
  <!-- CONTENT START -->
  <div class="page-content">
    <!-- INNER PAGE BANNER -->
    <div
      class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"
      data-stellar-background-ratio="0.5"
      style="background-image:url(/images/banner/n-plus-nazilli-banner.png)"
    >
      <div class="overlay-main bg-black opacity-07"></div>
      <div class="container">
        <div class="wt-bnr-inr-entry">
          <div class="banner-title-outer">
            <div class="banner-title-name">
              <h2
                class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300 m-0"
              >
                N Plus <br />Nazilli / Aydın
              </h2>
            </div>
          </div>
          <!-- BREADCRUMB ROW -->
          <div class="p-tb20">
            <div>
              <ul class="wt-breadcrumb breadcrumb-style-2">
                <li>
                  <a href="javascript:void(0);">Anasayfa</a>
                </li>
                <li>N Plus Nazilli</li>
              </ul>
            </div>
          </div>
          <!-- BREADCRUMB ROW END -->
        </div>
      </div>
    </div>
    <!-- INNER PAGE BANNER END -->
    <!-- PROJECT DETAIL SECTION START -->
    <div class="section-full p-t80 p-b50">
      <div class="container">
        <div class="project-detail-outer bg-center m-b30">
          <div class="row">
            <div
              class="col-lg-12 col-md-12 project-detail-containt square_shape3 text-center"
            >
              <div class="p-lr20 p-tb20 project-detail-containt-info bg-black">
                <div class="bg-white p-lr30 p-tb30 text-black">
                  <h2 class="m-t0">
                    <span class="font-34 text-uppercase"
                      >N Plus Nazilli - Aydın</span
                    >
                  </h2>
                  <p>
                    Nazilli’nin en prestijli projesinde satışlar başladı! Modern
                    mimarisi, merkezi konumu ve yüksek yatırım potansiyeliyle N
                    Plus Nazilli, kazançlı bir geleceğe adım atmak isteyenler
                    için benzersiz bir fırsat sunuyor!
                  </p>
                  <!-- <div class="product-block">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 m-b20">
                        <h5 class="text-uppercase">Başlangıç Tarihi:</h5>
                        <p>
                          <b>Ekim 15, 2024</b>
                        </p>
                      </div>
                      <div class="col-md-6 col-sm-6 m-b20">
                        <h5 class="text-uppercase">Teslim Tarihi:</h5>
                        <p>
                          <b>Hemen Teslim</b>
                        </p>
                      </div>
                      <div class="col-md-6 col-sm-6 m-b20">
                        <h5 class="text-uppercase">Durum:</h5>
                        <p>
                          <b>Tamamlandı</b>
                        </p>
                      </div>
                      <div class="col-md-6 col-sm-6 m-b20">
                        <h5 class="text-uppercase">Faaliyet:</h5>
                        <p>
                          <b>Aralık 2026</b>
                        </p>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PROJECT DETAIL SECTION END -->

      <!-- PROMO BANNER SECTION START -->
      <div class="section-full p-tb50 bg-black square_shape1">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center text-white">
              <h2 class="m-b10 font-40 font-weight-300 text-uppercase">
                <span class="text-white">36 Aya Kadar Vade</span>
              </h2>
              <h2
                class="m-b0 font-30 font-weight-800 text-uppercase text-white"
              >
                800.000 TL'den Başlayan Peşinatla
              </h2>
              <p class="font-24 m-t20 m-b0 letter-spacing-2 font-weight-300">
                EV SAHİBİ OLMA FIRSATINI KAÇIRMAYIN
              </p>
            </div>
          </div>
        </div>
        <div class="cta-buttons p-t60 text-center">
          <button
            class="m-b15 site-button m-r15 text-uppercase letter-spacing-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#contact-form-modal">Bize Ulaşın</button
          >
          <a href="tel:+905551234567">
            <button
              class="m-b15 site-button-secondry text-uppercase letter-spacing-2"
              type="button">Hemen Arayın</button
            >
          </a>
        </div>
      </div>
      <!-- PROMO BANNER SECTION END -->
      <!-- GENERAL PHOTOS SECTION START -->
      <div class="section-full p-b50 square_shape1 square_shape3">
        <div class="container">
          <!-- <div class="col-xl-5 col-lg-12 col-md-12">
            <h2 class="text-uppercase font-36">Fotoğraflar</h2>
            <div class="wt-separator-outer">
              <div class="wt-separator bg-black"></div>
            </div>
          </div> -->
          <div class="blog-post date-style-1 blog-detail text-black">
            <div class="wt-post-media clearfix m-b30">
              <ul class="grid-post mfp-gallery gallery">
                <li>
                  <div class="portfolio-item wt-img-effect zoom-slow">
                    <a
                      href="/images/projects/n-plus-nazilli/genel/1.png"
                      class="mfp-link"
                    >
                      <img
                        class="img-responsive"
                        src="/images/projects/n-plus-nazilli/genel/1.png"
                        alt="N Plus Nazilli - Görsel 1"
                      />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <i class="fa fa-search-plus wt-icon-box-xs"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="portfolio-item wt-img-effect zoom-slow">
                    <a
                      href="/images/projects/n-plus-nazilli/genel/2.png"
                      class="mfp-link"
                    >
                      <img
                        class="img-responsive"
                        src="/images/projects/n-plus-nazilli/genel/2.png"
                        alt="N Plus Nazilli - Görsel 2"
                      />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <i class="fa fa-search-plus wt-icon-box-xs"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="portfolio-item wt-img-effect zoom-slow">
                    <a
                      href="/images/projects/n-plus-nazilli/genel/3.png"
                      class="mfp-link"
                    >
                      <img
                        class="img-responsive"
                        src="/images/projects/n-plus-nazilli/genel/3.png"
                        alt="N Plus Nazilli - Görsel 3"
                      />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <i class="fa fa-search-plus wt-icon-box-xs"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="portfolio-item wt-img-effect zoom-slow">
                    <a
                      href="/images/projects/n-plus-nazilli/genel/4.png"
                      class="mfp-link"
                    >
                      <img
                        class="img-responsive"
                        src="/images/projects/n-plus-nazilli/genel/4.png"
                        alt="N Plus Nazilli - Görsel 4"
                      />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <i class="fa fa-search-plus wt-icon-box-xs"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="portfolio-item wt-img-effect zoom-slow">
                    <a
                      href="/images/projects/n-plus-nazilli/genel/5.png"
                      class="mfp-link"
                    >
                      <img
                        class="img-responsive"
                        src="/images/projects/n-plus-nazilli/genel/5.png"
                        alt="N Plus Nazilli - Görsel 5"
                      />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <i class="fa fa-search-plus wt-icon-box-xs"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="portfolio-item wt-img-effect zoom-slow">
                    <a
                      href="/images/projects/n-plus-nazilli/genel/6.png"
                      class="mfp-link"
                    >
                      <img
                        class="img-responsive"
                        src="/images/projects/n-plus-nazilli/genel/6.png"
                        alt="N Plus Nazilli - Görsel 6"
                      />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <i class="fa fa-search-plus wt-icon-box-xs"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="portfolio-item wt-img-effect zoom-slow">
                    <a
                      href="/images/projects/n-plus-nazilli/genel/7.png"
                      class="mfp-link"
                    >
                      <img
                        class="img-responsive"
                        src="/images/projects/n-plus-nazilli/genel/7.png"
                        alt="N Plus Nazilli - Görsel 7"
                      />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <i class="fa fa-search-plus wt-icon-box-xs"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="portfolio-item wt-img-effect zoom-slow">
                    <a
                      href="/images/projects/n-plus-nazilli/genel/8.png"
                      class="mfp-link"
                    >
                      <img
                        class="img-responsive"
                        src="/images/projects/n-plus-nazilli/genel/8.png"
                        alt="N Plus Nazilli - Görsel 8"
                      />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <i class="fa fa-search-plus wt-icon-box-xs"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- GENERAL PHOTOS SECTION END -->

      <!-- CTA SECTION START -->
      <div class="section-full clearfix p-b80 square_shape1 square_shape3">
        <div class="container">
          <div
            class="row d-flex justify-content-center bg-darks p-a40 radius-m"
          >
            <div class="col-lg-8 col-md-10 text-center">
              <div class="cta-content">
                <h2 class="text-white text-uppercase m-b20">
                  N Plus Nazilli'de Yerinizi Ayırtın
                </h2>
                <p class="text-white font-14 m-b30 opacity-08">
                  Projemizde, 2 adet örnek daire seçenekleri arasından tercih
                  yapın.
                </p>
                <p class="text-white font-18 m-b30 bold text-uppercase">
                  Detaylı bilgi ve örnek daire ziyareti için randevu alın.
                </p>
                <div class="cta-buttons">
                  <button
                    class="m-b15 site-button m-r15 text-uppercase letter-spacing-2"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#contact-form-modal">Bize Ulaşın</button
                  >
                  <a href="tel:+905551234567">
                    <button
                      class="m-b15 site-button-secondry text-uppercase letter-spacing-2"
                      type="button">Hemen Arayın</button
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CTA SECTION END -->
      <div class="section-full clearfix square_shape1 square_shape3">
        <div class="container">
          <div class="row d-flex bg-darks p-a40 radius-m">
            <div class="gmap-outline">
              <div id="gmap_canvas" class="google-map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3148.5605683707545!2d28.327513343418918!3d37.89395811456171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b8b9d6ecc219bb%3A0x10192425bf3aadeb!2sN-PLUS%20Sitesi!5e0!3m2!1str!2str!4v1766406201717!5m2!1str!2str"
                  width="600"
                  height="450"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
