<!-- FOOTER START -->
<footer class="site-footer bg-gray footer-light footer-wide">
  <div class="footer-bottom overlay-wraper">
    <div class="overlay-main bg-black" style="opacity: 0"></div>
    <div class="container p-t30">
      <div
        class="footer-bottom-content d-flex align-items-center justify-content-between"
      >
        <div class="wt-footer-bot-left">
          <a href="/"
            ><img
              src="/images/logo-dark.png"
              width="140"
              height="58"
              alt=""
            /></a
          >
        </div>

        <div class="text-center copyright-block p-t15">
          <span class="copyrights-text"
            >© 2023 Your Company. Designed By thememajestic.</span
          >
        </div>

        <div class="wt-footer-bot-right p-t15">
          <ul class="copyrights-nav pull-right">
            <li><a href="about-1.html">Terms & Condition</a></li>
            <li><a href="about-1.html">Privacy Policy</a></li>
            <li><a href="contact-1.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER END -->
