<div class="section-full p-t80 p-b50">
    <!-- LOCATION BLOCK-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">   
                <div class="section-content m-b50">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 m-b30">
                            <div class="wt-icon-box-wraper bx-style-1 p-a30 center bg-white">
                                <div class="wt-icon-box-sm m-b20">
                                    <span class="icon-cell text-white">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" 
                                             xmlns="http://www.w3.org/2000/svg" 
                                             width="99.947" 
                                             height="68.692" 
                                             viewBox="0 0 99.947 68.692" 
                                             class="qodef--appeared">
                                            <g transform="translate(-296.167 -627.789)">
                                                <path d="M318.077,695.981h-21.41V635.429l21.41-7.14Z" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                                <path d="M325.015,695.981h77.536V646.11l-77.536-17.821Z" transform="translate(-6.937)" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                                <path d="M325.015,696.883h68.227V649.957l-68.227-17.98Z" transform="translate(-6.937 -0.903)" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                                <path d="M339.043,701.068h51.773V659.835l-51.773-10.757v51.99Z" transform="translate(-10.37 -5.088)" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                                <path d="M386.765,702.131V662.824l-47.722-9.4v48.71Z" transform="translate(-10.37 -6.151)" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                                <path d="M341.59,702.889h43.876V665.164l-43.876-8.645v46.371Z" transform="translate(-10.994 -6.908)" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                                <path d="M357.814,712.358H379.15V697.47l-21.337-2.26Z" transform="translate(-14.964 -16.377)" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                                <path d="M361.258,713.217h16.812V700.052l-16.812-1.333v14.5Z" transform="translate(-15.807 -17.236)" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                                <path d="M379.993,712.924l-18.735-.749v4.334H411.42Z" transform="translate(-15.807 -20.529)" fill="#FFFFFF" stroke="#1A1818" stroke-width="1"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                                <div class="icon-content">
                                    <h5 class="wt-tilte text-uppercase letter-spacing-2 font-weight-800">Tapu Garantisi</h5>
                                    <p>Projelerimizde tapular hazır ve güvence altındadır. Yatırımınızı yasal güvence altına alarak koruyoruz.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 m-b30">
                            <div class="wt-icon-box-wraper bx-style-1 p-a30 center bg-white">
                                <div class="wt-icon-box-sm m-b20">
                                    <span class="icon-cell text-white">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" 
                                             class="qodef-custom-building-1 qodef--appeared" 
                                             xmlns="http://www.w3.org/2000/svg" 
                                             x="0px" 
                                             y="0px" 
                                             width="105" 
                                             viewBox="0 0 104.6 70.8" 
                                             height="71">
                                            <path d="M104.6,57.9c-0.1-0.1-0.2-0.2-0.3-0.2l-15.8-1.1l-4.8-12.8l4.9-14.1c0-0.1,0-0.2,0-0.3l-4.9-12.9l4.9-12.1
                                                c0-0.1,0-0.2,0-0.3c-0.1-0.1-0.1-0.2-0.3-0.2L73.2,0c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c0,0,0,0,0,0L49.8,8.9
                                                c-0.1,0-0.2,0.1-0.2,0.3l-3.8,13.2c0,0.1,0,0.2,0,0.2l3.4,10.1l-3.4,12.4c0,0.1,0,0.2,0,0.2l2.9,8.1l-30.7-4.9l-9.7-0.7
                                                c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3v7.3l-7.4,0.6c-0.1,0-0.2,0.1-0.3,0.2C0,56.4,0,56.6,0,56.7l3.1,13.8
                                                c0,0.2,0.2,0.3,0.4,0.3h92.6c0.1,0,0.3-0.1,0.3-0.2l8.2-12.4C104.7,58.1,104.7,58,104.6,57.9z M70.4,70l2.9-13.8l14.3,1L84.7,70
                                                H70.4z M61.2,70V55.4l11.3,0.8L69.6,70H61.2z M32.8,70H15.7l0.1-8l17-2.7V70z M33.5,58.5c-0.1-0.1-0.2-0.1-0.3-0.1l-17.8,2.9
                                                c-0.2,0-0.3,0.2-0.3,0.4L14.9,70H9.1c0-0.1,0-0.2,0-0.2l-4.5-8l34.5-7.5l0,15.7h-5.5V58.8C33.6,58.7,33.5,58.6,33.5,58.5z
                                                M39.9,53.9l20.5,1.5V70H39.9L39.9,53.9z M54.9,54l-3.1-9.7L55,31.7c0-0.1,0-0.1,0-0.2l-3.3-10.9l2.5-8.5L72.4,1.3l-4,12.8
                                                c0,0.1,0,0.2,0,0.2l4.3,13l-4.3,14.4c0,0.1,0,0.2,0,0.2l4.2,13.3l-17.7-1.3C54.9,54.1,54.9,54,54.9,54z M82.8,16.3
                                                c0,0.1,0,0.2,0,0.3l4.9,12.9l-4.9,14.1c0,0.1,0,0.2,0,0.3l4.7,12.6l-14.2-1l-4.3-13.5l4.3-14.4c0-0.1,0-0.2,0-0.2l-4.3-13l4.2-13.4
                                                l14.3,3.6L82.8,16.3z M50,32.8c0-0.1,0-0.2,0-0.2l-3.4-10.1l3.7-12.9l18.6-7.1l-15.2,9.1c-0.1,0.1-0.1,0.1-0.2,0.2l-2.6,8.7
                                                c0,0.1,0,0.2,0,0.2l3.3,10.9l-3.3,12.6c0,0.1,0,0.2,0,0.2l3.1,9.6l-4.6-0.3c0,0-0.1-0.1-0.2-0.1c0.1-0.1,0.1-0.2,0.1-0.4l-2.8-8
                                                L50,32.8z M8.5,48.8l9.3,0.7L41,53.1L39.5,53l-31,2.5V48.8z M0.9,57l35.6-2.9L3.9,61.1c-0.1,0-0.2,0.1-0.3,0.2c-0.1,0.1,0,0.2,0,0.4
                                                L8.3,70H3.8L0.9,57z M95.9,70H85.6l2.9-12.7l15.1,1.1L95.9,70z"></path>
                                            <!-- Additional path elements... -->
                                        </svg>
                                    </span>
                                </div>
                                <div class="icon-content">
                                    <h5 class="wt-tilte text-uppercase letter-spacing-2 font-weight-800">Farklı Ödeme Planları</h5>
                                    <p>Farklı ödeme planları sunuyoruz. Vade seçenekleri ve kişiye özel ödeme planlarımız ile yatırımı kolaylaştırıyoruz. </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 m-b30">
                            <div class="wt-icon-box-wraper bx-style-1 p-a30 center bg-white">
                                <div class="wt-icon-box-sm site-text-primary bg-white m-b20">
                                    <span class="icon-cell site-text-primary">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" 
                                             class="qodef-custom-building-3 qodef--appeared" 
                                             xmlns="http://www.w3.org/2000/svg" 
                                             x="0px" 
                                             y="0px" 
                                             width="122.7" 
                                             viewBox="0 0 122.7 64.4" 
                                             height="64.4">
                                            <path d="M119.7,17.1C104.4,0.6,62.9-5.3,37.6,5.3C17.1,13.8,6.2,30,3.4,34.8c-0.3,0.5-0.6,1-0.8,1.4c-0.5,0.8-1,1.7-1.4,2.6
                                                c0,0.1,0,0.2,0,0.3c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0l8.2,13.7l-9,1c-0.2,0-0.4,0.2-0.4,0.4v2.5c0,0,0,0,0,0.1
                                                c0,0,0,0,0,0c0,0.2,0.1,0.4,0.3,0.5l2.3,0.5V64c0,0.2,0.2,0.4,0.4,0.4h3.2c0.2,0,0.4-0.2,0.4-0.4v-5.8l3.4,0.3l2.7-0.1l3.5,5.8
                                                c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0.1,0.1c0,0,0,0,0,0c0.1,0,0.1,0,0.2,0h85.7c0.1,0,0.3-0.1,0.4-0.2l18.7-34.7c0,0,0-0.1,0-0.1
                                                c0.5-0.8,0.8-1.6,1.1-2.5C123.3,23.5,122.4,19.9,119.7,17.1z M10.2,52.6L2,38.9c0.2-0.4,0.6-1.2,1.3-2.4C9,27.1,21.1,21.1,30.4,20
                                                c7.1-0.8,9.1-0.1,21.8,4.3c4.1,1.4,9.2,3.2,16,5.5c28.1,9.4,39.8,6.1,46.9,4.2c1.4-0.4,2.7-1.1,3.8-2l-15.2,28.3H29.1v-2.7l6.8-0.2
                                                c0.2,0,0.4-0.2,0.4-0.4l0-2.7c0-0.2-0.1-0.3-0.3-0.4L25.6,51c-0.1,0-0.1,0-0.2,0l-15.2,1.8C10.2,52.7,10.2,52.6,10.2,52.6z
                                                M29.1,63.6v-2.5h16.2l-2.8,2.5H29.1z M15.3,61.2h4l-2.6,2.3L15.3,61.2z M20.5,61.2h3.1v2.5h-5.9L20.5,61.2z M24.3,54.6l0.8-0.1v9.1
                                                h-0.8V54.6z M25.9,54.6l2.4,0.5v1.1v1.1v6.3h-2.4V54.6z M0.8,54.6l24.7-2.9l10,2.8l0,2l-6.4,0.2v-0.7v-1.5c0-0.2-0.1-0.4-0.3-0.4
                                                l-3.2-0.7c0,0-0.1,0-0.1,0c0,0,0,0,0,0L0.8,56.3V54.6z M2.4,56.9l0.2,0V57L2.4,56.9z M3.4,56.8l0.8-0.1v6.9H3.4V56.8z M5.9,63.6H5.1
                                                v-6.5l0.8,0.1V63.6z M6.7,57.5v-0.5c0-0.2-0.1-0.4-0.3-0.4l17.2-1.8v2.4l-13.5,0.7L6.7,57.5z M23.5,57.9v2.5h-8.7l-1.2-2L23.5,57.9z
                                                M102,63.6H43.6l2.8-2.5h56.9L102,63.6z M121.6,26.8c-0.9,3.2-3.4,5.6-6.7,6.5c-6.9,1.9-18.5,5.1-46.4-4.2c-6.8-2.3-11.9-4.1-16-5.5
                                                C42.6,20.2,39.1,19,34.7,19c-1.3,0-2.7,0.1-4.4,0.3C23,20.1,14,23.9,7.5,30.1c5.1-6.9,15-17.6,30.3-24.1C63-4.5,104,1.4,119.2,17.7
                                                C121.6,20.3,122.5,23.6,121.6,26.8z"></path>
                                            <!-- Additional path elements remain the same -->
                                        </svg>
                                    </span>
                                </div>
                                <div class="icon-content">
                                    <h5 class="wt-tilte text-uppercase letter-spacing-2 font-weight-800">Yüksek Getiri & Yaşam Potansiyeli</h5>
                                    <p>Projelerimizde yüksek getiri ve yaşam potansiyeli sunuyoruz. Yatırımınızın karşılığını almanızı sağlıyoruz.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 m-b30">
                            <div class="wt-icon-box-wraper bx-style-1 p-a30 center bg-white">
                                <div class="icon-xl m-b20">
                                    <span class="icon-cell site-text-primary">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" 
                                             xmlns="http://www.w3.org/2000/svg" 
                                             width="110.8" 
                                             height="77.493" 
                                             viewBox="0 0 110.8 64.493" 
                                             class="qodef--appeared">
                                            <g transform="translate(-56.35 -81.265)">
                                                <!-- All path elements remain the same -->
                                                <path d="M131.466,123.289,85.238,128.46V107.488l46.228-9.636Z" transform="translate(-6.525 -3.707)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M87.875,126.929V109.885l42.161-8.788v21.116l-42.161,4.716Z" transform="translate(-7.129 -4.451)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M101.966,123.351v-8.67l31.3-9.408v16.079Z" transform="translate(-10.356 -5.407)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M156.523,157.541H115.366V138.424l41.157-3.565Z" transform="translate(-13.425 -12.183)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M155.093,156.167H118V140.948l37.088-3.213v18.431Z" transform="translate(-14.029 -12.842)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M187.008,130.412,145.2,123.289V97.852l41.808,11.589Z" transform="translate(-20.258 -3.707)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M74.409,158.159H56.75v-18.63l17.658-1.975Z" transform="translate(0 -12.8)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M56.75,129.78l17.658-3.417v8.627L56.75,136.965Z" transform="translate(0 -10.237)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M59.39,135.442v-3.188l15.623-2.621v4.008l-15.623,1.8Z" transform="translate(-0.604 -10.986)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M111.512,91.961l25.972-7.072v9.994L111.512,100.3Z" transform="translate(-12.542 -0.738)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M114.15,98.758V94.564l21.9-5.471v5.1l-21.9,4.565Z" transform="translate(-13.146 -1.701)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M187.008,99.084,145.2,84.889v9.994l41.808,11.589Z" transform="translate(-20.258 -0.738)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M108.465,158.159H85.238V137.553l23.227,1.488Z" transform="translate(-6.525 -12.8)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M189.373,157.542H168.75V134.858l20.623,3.514Z" transform="translate(-25.652 -12.183)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M105.495,81.665,85.238,87.351v16.429l20.256-4.222Z" transform="translate(-6.525)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M85.238,90.112l18.223-4.966v15.633l-18.223,3.8Z" transform="translate(-6.525 -0.797)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M85.238,104.149V92.659l12.9-1.391v9.595Z" transform="translate(-6.525 -2.199)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M132.215,86.73l-20.7,4.5V81.665Z" transform="translate(-12.542)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M89.8,82.776l.017,3.289-4.582,1.286V81.665Z" transform="translate(-6.525)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M149.623,133.939,108.465,137.5l-23.227-1.488,46.228-5.171Z" transform="translate(-6.525 -11.264)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M83.959,81.665l-4.305,1.067v62.626h4.305Z" transform="translate(-5.246)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M150.057,157.568h-7.164v-13.13l7.164-.584Z" transform="translate(-19.73 -14.244)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M195.5,140.314l3.029-.383-3.029-.515Z" transform="translate(-31.778 -13.227)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M79.318,155.976H59.389V139.152L79.318,136.9Z" transform="translate(-0.604 -12.652)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                                <path d="M78.757,155.016l-12.939-.492V143.87l12.939-2.28Z" transform="translate(-2.077 -13.725)" fill="#FFFFFF" stroke="#1A1818" stroke-width="0.8px"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                                <div class="icon-content">
                                    <h5 class="wt-tilte text-uppercase letter-spacing-2 font-weight-800">Yüksek Standart & Uzun Ömür</h5>
                                    <p>Projelerimizde yüksek standart ve uzun ömür sunuyoruz. Kaliteyi asla ödün vermeden, sürdürülebilir çözümler üretiyoruz.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>