<!-- Partners LOGO SECTION START -->
<div class="section-full p-tb40 bg-black square_shape4">
  <div class="container">
    <!-- TESTIMONIAL 4 START ON BACKGROUND -->
    <div class="section-content">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <!-- TITLE START -->
          <div class="section-head text-left">
            <h2 class="text-uppercase font-36 text-white">
              Partner & Çözüm Ortaklarımız
            </h2>
            <div class="wt-separator-outer">
              <div class="wt-separator bg-white"></div>
            </div>
          </div>
          <!-- TITLE END -->
        </div>

        <div class="col-lg-8 col-md-12">
          <div class="section-content bg-white p-tb10">
            <div class="owl-carousel home-client-carousel owl-btn-center-v">
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo client-logo-media">
                    <a href="#"
                      ><img
                        src="/images/client-logo/gho-logo.png"
                        alt="GHO"
                      /></a
                    >
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo client-logo-media">
                    <a href="#"
                      ><img
                        src="/images/client-logo/arsago.png"
                        alt="Arsago"
                      /></a
                    >
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo client-logo-media">
                    <a href="#"
                      ><img
                        src="/images/client-logo/grafik-insaat.png"
                        alt="Grafik İnşaat"
                      /></a
                    >
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo client-logo-media">
                    <a href="#"
                      ><img
                        src="/images/client-logo/canakkale-seramik.png"
                        alt="Çanakkale Seramik"
                      /></a
                    >
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo client-logo-media">
                    <a href="#"
                      ><img src="/images/client-logo/eca.png" alt="ECA" /></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Partners LOGO  SECTION End -->
