<!-- OUR SERVICES SECTION START -->
<div class="section-full bg-black p-t80 p-b50 square_shape1">
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head text-left text-white">
      <h2 class="text-uppercase font-36">Faaliyetlerimiz</h2>
      <div class="wt-separator-outer">
        <div class="wt-separator bg-white"></div>
      </div>
    </div>
    <!-- TITLE END -->

    <div class="section-content circle-block-outer">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-b30">
          <div class="wt-icon-box-wraper right p-a20 text-white m-b30">
            <div class="icon-content">
              <h4 class="wt-tilte text-uppercase">Proje Geliştirme</h4>
              <p>
                Modern yaşam alanları ve yüksek getiri potansiyeli taşıyan
                projeler geliştiriyoruz. Her projemizde, bölgenin ihtiyaçlarını
                ve gelecek potansiyelini analiz ederek, estetik ve
                fonksiyonelliği ön planda tutuyoruz. Mimari tasarımdan ruhsat
                süreçlerine kadar, tüm aşamalarda yatırımcı ve alıcılar için en
                iyi çözümleri sunuyoruz.
              </p>
            </div>
          </div>

          <div class="wt-icon-box-wraper right p-a20 text-white m-b30">
            <div class="icon-content">
              <h4 class="wt-tilte text-uppercase">Satış ve Pazarlama</h4>
              <p>
                Satış süreçlerinde şeffaf, güvenilir ve veriye dayalı bir
                yaklaşım benimsiyoruz. Müşterilerimize doğru bilgi aktarımı
                yaparak, en uygun yatırım fırsatlarını ve yaşam alanlarını
                bulmalarına yardımcı oluyoruz.
              </p>
            </div>
          </div>

          <div class="wt-icon-box-wraper right p-a20 text-white">
            <div class="icon-content">
              <h4 class="wt-tilte text-uppercase">Yatırım Uzmanlığı</h4>
              <p>
                Yatırımcıların en doğru kararları alabilmeleri için kapsamlı
                analizler ve stratejik yönlendirmeler sağlıyoruz. Hedefimiz,
                sürdürülebilir ve uzun vadede kazanç sağlayan yatırımlar
                oluşturmaktır.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 m-b30">
          <div class="circle-content-pic">
            <div class="wt-box">
              <div class="wt-media text-primary m-b20">
                <img
                  style="height: 100%;"
                  src="/images/gallery/portrait/faaliyetler.jpg"
                  alt="Sore Yapı Faaliyetler"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 m-b30">
          <div class="wt-icon-box-wraper left p-a20 text-white m-b30">
            <div class="icon-content">
              <h4 class="wt-tilte text-uppercase">Finansal Danışmanlık</h4>
              <p>
                Yatırımcılarımızın finansal süreçlerini kolaylaştırmak için
                kişiye özel ödeme planları ve finansal çözümler sunuyoruz. Vade
                seçenekleri, kredi yönlendirmeleri ve mali analizlerle yatırım
                sürecini erişilebilir hale getiriyoruz.
              </p>
            </div>
          </div>

          <div class="wt-icon-box-wraper left p-a20 text-white m-b30">
            <div class="icon-content">
              <h4 class="wt-tilte text-uppercase">Tapu ve Hukuki Süreç</h4>
              <p>
                Gayrimenkul alım-satım sürecinde tüm tapu, iskan ve hukuki
                prosedürleri uzman ekibimizle yönetiyoruz. Şeffaflık ve güven
                ilkeleriyle ilerleyerek, yatırımcılarımızın işlemlerini hızlı ve
                sorunsuz şekilde tamamlamalarını sağlıyoruz.
              </p>
            </div>
          </div>

          <div class="wt-icon-box-wraper left p-a20 text-white">
            <div class="icon-content">
              <h4 class="wt-tilte text-uppercase">Satış Sonrası Hizmetler</h4>
              <p>
                Proje tesliminden sonra da yatırımcılarımızın yanındayız. Bakım,
                teknik destek, teslim sonrası süreç yönetimi ve müşteri
                memnuniyet takibi ile uzlong vadeli güven ilişkisi kuruyoruz.
                Sore Yapı'da hizmet, satışla bitmez.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- OUR SERVICES SECTION END -->
