---
import { Image } from "astro:assets";
import projectNazilli from "../assets/images/projects/4.png";
import projectEgel from "../assets/images/projects/egelpark-sitesi.jpg";
import projectAtapark from "../assets/images/projects/atapark-sitesi.jpg";
import projectKapadokya from "../assets/images/projects/bg-kapadokya.jpg";
---

<!-- OUR Projects SECTION START -->
<div class="section-full bg-gray p-t80 p-b50 square_shape1">
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head text-left text-black">
      <h2 class="text-uppercase font-36">Projelerimiz</h2>
      <div class="wt-separator-outer">
        <div class="wt-separator bg-black"></div>
      </div>
    </div>
    <!-- TITLE END -->
    <div class="section-content our-story">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="wt-media our-story-pic">
            <Image src={projectKapadokya} alt="Kapadokya Vadi 3" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 our-story-detail-wrap">
          <div class="wt-box our-story-detail">
            <h5
              class="wt-tilte text-uppercase letter-spacing-2 font-weight-400 text-white"
            >
              Kapadokya
            </h5>
            <h2
              class="wt-tilte text-uppercase letter-spacing-2 font-weight-800"
            >
              Kapadokya Vadi 3. Etap
            </h2>
            <p>
              Yatırım Değeri Yüksek, Senaryo Özgürlüğü Sunan Proje! Arsago &
              Sore Yapı güvencesiyle yatırımlarınızı Kapadokya'nın kalbinde
              değerlendirin.
            </p>
            <a href="/projeler/kapadokya-vadi-3">
              <button class="m-b15 site-button-secondry m-r15" type="button"
                >Projeyi Gör</button
              ></a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="wt-media our-story-pic">
            <Image src={projectNazilli} alt="N Plus Nazilli" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 our-story-detail-wrap">
          <div class="wt-box our-story-detail">
            <h5
              class="wt-tilte text-uppercase letter-spacing-2 font-weight-400 text-white"
            >
              Nazilli
            </h5>
            <h2
              class="wt-tilte text-uppercase letter-spacing-2 font-weight-800"
            >
              N Plus Nazilli
            </h2>
            <p>
              N Plus Nazilli projesi, Nazilli'nin kalbinde yer alan modern bir
              yaşam alanıdır. Geniş yeşil alanları, sosyal olanakları ve
              konforlu daireleriyle dikkat çeker. İdeal bir yaşam ortamı sunan N
              Plus Nazilli, şehir merkezine yakınlığıyla da avantaj
              sağlamaktadır.
            </p>
            <a href="/projeler/kapadokya-vadi-3">
              <button class="m-b15 site-button-secondry m-r15" type="button"
                >Projeyi Gör</button
              ></a
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="wt-media our-story-pic">
            <Image src={projectEgel} alt="Kuşadası Egel Park Sitesi" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 our-story-detail-wrap">
          <div class="wt-box our-story-detail">
            <h5
              class="wt-tilte text-uppercase letter-spacing-2 font-weight-400"
            >
              Kuşadası
            </h5>
            <h2
              class="wt-tilte text-uppercase letter-spacing-2 font-weight-800"
            >
              EGEL PARK SİTESİ
            </h2>
            <p>
              EGEL PARK projesi, Kuşadası'nın en gözde bölgelerinden birinde yer
              almaktadır. Modern tasarımı, geniş yeşil alanları ve sosyal
              olanaklarıyla dikkat çeker. Aileler için ideal bir yaşam ortamı
              sunan Egel Park, sahile yakın konumuyla da avantaj sağlar.
            </p>
            <a href="/projeler/kusadasi-egel-park">
              <button class="m-b15 site-button m-r15" type="button"
                >Projeyi Gör</button
              ></a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="wt-media our-story-pic">
            <Image src={projectAtapark} alt="Kuşadası Atapark Sitesi" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12 our-story-detail-wrap">
          <div class="wt-box our-story-detail">
            <h5
              class="wt-tilte text-uppercase letter-spacing-2 font-weight-400 text-white"
            >
              Kuşadası
            </h5>
            <h2
              class="wt-tilte text-uppercase letter-spacing-2 font-weight-800"
            >
              ATAPARK SİTESİ
            </h2>
            <p>
              ATAPARK projesi, Kuşadası'nın merkezi bir konumunda yer
              almaktadır. Modern mimarisi, geniş yeşil alanları ve sosyal
              olanaklarıyla dikkat çeker. Aileler için konforlu ve keyifli bir
              yaşam sunan Atapark, sahile yakınlığıyla da avantaj sağlamaktadır.
            </p>
            <a href="/projeler/kusadasi-atapark">
              <button class="m-b15 site-button-secondry m-r15" type="button"
                >Projeyi Gör</button
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- OUR Projects SECTION END -->
